body {
  font-family: "Noto Sans Display", sans-serif;
  text-align: center;
  background-color: grey;
}


h2{
  font-family: 'Syncopate', sans-serif;
  font-size: xx-large;
  font: bolder;
  color: white;
  padding-bottom: 50px;
}

a{
  text-decoration: none;
  list-style: none;
}

/*Header*/
header {
  background-color: #000000;
  width: 100%;
  height: 80%;

  .ico-redes {
    width: 30px;
    padding: 10px 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(149deg) brightness(105%) contrast(105%);
    width: 30px;
    height: 30px;
  }
  .ico-redes:hover{
    transform: scale(1.5);
    transition: transform 1s;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(149deg) brightness(105%) contrast(105%) drop-shadow(0 0 15px #FFFFFF);
  }
}

main{
  background-color: #080808;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .menu{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 50px;
    .menu-item a{  
      text-decoration: none;
      list-style: none;
      color: white;
      font-family: 'Inter', sans-serif;
    }
    .menu-item:hover{
      transform: scale(1.5);
      transition: transform 1s;
      .a{
        color: purple;
      }
    }
  }
}

/*Banner*/

.seccion-banner{
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
  height: 200px;
  overflow: hidden;
  .soycodev{
    height: 80px;
    transition: 0.5s;
    font-size: 100px;
    font-family: 'Syncopate', sans-serif;
    color: white;
  }
  .logo{
    height: 150px;
    transition: 0.5s;
    z-index: 1;
  }
}

.seccion-banner:hover{
  .logo{
    transform: scale(150%) translateX(65%);
  }
  .soycodev{
    transform: scale(5%) translateX(-100%);
  }
}

/*Seccion Quien*/

.seccion-quien{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;

  .titulo-quien{
    font-size: 40px;
  }
  .texto-quien{
    font-family: 'Inter', sans-serif;
    color: white;
    width: 850px;
    font-size: x-large;
    line-height: 150%;

    .bolder{
      font-weight: bolder;
      color: purple;
    }
  }
}

/*Conocimientos*/

@keyframes scroll {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(-100%);
  }
}

.seccion-hab{
  background-color: black;
  height: 400px;
  .cont-hab{
    width: 80vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding: 50px 0;
  }
}

.slider{
  display: flex;
  animation: scroll 30s linear infinite running;
  width: calc(20% * 16);
}

/*Portafolio*/
.seccion-port{
  background-color: black;
}

/*contacto*/
.seccion-contacto{
  background-color: yellow;
}

/*footer*/
footer{
  background-color: black;
  color: white;
}


/*
@media screen and (max-width: 1150px) {
  body {
    width: 100%;
  }
  .seccion-redes {
    height: 700px;
  }
  .ico-redes {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 25px 100px;
    width: 100%;
    margin-left: 25%;
    padding: 50px;
  }
  .señalar {
    width: 50%;
  }

  .seccion-contacto {
    background-color: #04656e;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }
  .seccion-redes {
    height: 700px;
  }
  .ico-redes {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 25px 100px;
    width: 100%;
    margin-left: 25%;
    padding: 50px;
  }
  .señalar {
    width: 50%;
  }
  .astronauta-contacto{
    width: 70%;
  }
  .formulario {
    margin: 10% 0 10% 0;
    height: auto;
    width: 100%;
  }
  .titulo-contacto{
    font-size: 2em;
  }
  .form input, form textarea {
    font-size: 0.7em;
    border-radius: 15px;
    border: 3px #04656e solid;
    margin: 10px;
    height: 50%;
    width: 100%;
}
.form textarea{
  height: 150%;
}
  .contacto-items {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .boton-contacto{
    width: 50%;

  }
}
*/