body {
  font-family: "Noto Sans Display", sans-serif;
  text-align: center;
}

/*Header*/
header {
  background-color: #0fbeb1;
  width: 100%;
  height: 80%;
}

.logo {
  padding: 50px 0 0 0;
  height: 100px;
  margin: 20px;
}

.titulo {
  font-size: 70px;
  color: white;
  margin: 30px 0 0 0;
}

.slogan {
  color: white;
  font-size: 25px;
}

.saludo {
  height: 600px;
  margin: 0;
  padding: 0;
}

/*Quien soy*/

.section-quien {
  background-color: white;
  height: auto;
}
.titulo-quien {
  color: #13a79b;
  font-size: 60px;
  margin: 60px 0 30px 0;
}
.foto-quien {
  padding: 30px;
  border-radius: 50%;
}

.texto-quien {
  height: auto;
  margin: 0 20px;
  font-size: 30px;
  padding: 30px 0 100px 0;
}

/*Portafolio*/

.seccion-port {
  background-color: #04656e;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.astronauta {
  height: 500px;
}
.titulo-port {
  padding: 20px 0;
  font-size: 60px;
  color: white;
}
.seg-fondo {
  background-color: #13a79b;
  height: auto;
  width: 50%;
  border-radius: 25px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secciones-port {
  background-color: #f3f3f3;
  width: 80%;
  height: 150px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 30px 0;
  justify-content: space-between;
}
.logo-secciones {
  max-width: 120px;
  max-height: 120px;
  width: 120px;
  padding: 15px 30px 15px 40px;
}
.logo-seccion-alura {
  padding: 15px 30px 15px 70px;
}
.link-secciones {
  color: white;
  font-size: 25px;
}
.boton-secciones,
.boton-seccion-alura {
  background-color: #04656e;
  height: 50%;
  width: 60%;
  border-radius: 20px;
  border-style: none;
  margin-right: 40px;
}

/*Redes*/

.seccion-redes {
  background-color: #0fbeb1;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo-redes {
  color: white;
  padding: 50px;
  font-size: 60px;
}
.ico-redes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 70%;
  padding: 50px 0;
}

.logos-img {
  height: 120px;
}

.señalar {
  width: 90%;
}

.uno {
  grid-column: 1;
  grid-row: 1;
}
.dos {
  grid-column: 3;
  grid-row: 1;
}
.tres {
  grid-column: 5;
  grid-row: 1;
}
.cuatro {
  grid-column: 2;
  grid-row: 3;
}
.cinco {
  grid-column: 4;
  grid-row: 3;
}
.seis {
  grid-column: 6;
  grid-row: 3;
}

/*Contacto*/

.seccion-contacto {
  background-color: #04656e;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto-items {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.astronauta-contacto {
  width: 40%;
}
.formulario {
  margin: 80px 0 50px 0;
  height: 400px;
  width: 800px;
  background-color: #13a79b;
  border-radius: 25px;
  border: 10px #0fbeb1 solid;
}

.titulo-contacto {
  color: white;
  font-size: 50px;
  margin: 10px 0;
}
.form {
  display: grid;
  justify-content: center;
  justify-items: center;
}
form input,
form textarea {
  border-radius: 15px;
  border: 5px #04656e solid;
  margin: 10px;
  height: 30px;
  width: 400px;
}
form input::placeholder,
form textarea::placeholder {
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.3em;
  color: #13a79b;
}
form textarea {
  height: 100px;
}
.boton-contacto {
  background-color: #0fbeb1;
  border: 3px #04656e solid;
  border-radius: 10px;
  margin: 10px;
  width: 100px;
  color: white;
}
.boton-contacto:hover {
  background-color: #13a79b;
  border: 3px #04656e solid;
}
.boton-contacto:active {
  background-color: #04656e;
  border: 3px #13a79b solid;
}

/*Footer*/

footer {
  background-color: black;
  height: 80px;
  color: white;
  font-size: 2em;
  align-items: center;
  padding-top: 45px;
}

@media screen and (max-width: 1150px) {
  body {
    width: 100%;
  }
  .seccion-redes {
    height: 700px;
  }
  .ico-redes {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 25px 100px;
    width: 100%;
    margin-left: 25%;
    padding: 50px;
  }
  .señalar {
    width: 50%;
  }
  /*Contacto*/

  .seccion-contacto {
    background-color: #04656e;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }
  .seccion-redes {
    height: 700px;
  }
  .ico-redes {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 25px 100px;
    width: 100%;
    margin-left: 25%;
    padding: 50px;
  }
  .señalar {
    width: 50%;
  }
  /*Contacto*/
  .astronauta-contacto{
    width: 70%;
  }
  .formulario {
    margin: 10% 0 10% 0;
    height: auto;
    width: 100%;
  }
  .titulo-contacto{
    font-size: 2em;
  }
  .form input, form textarea {
    font-size: 0.7em;
    border-radius: 15px;
    border: 3px #04656e solid;
    margin: 10px;
    height: 50%;
    width: 100%;
}
.form textarea{
  height: 150%;
}
  .contacto-items {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .boton-contacto{
    width: 50%;

  }
}
